# stores django and twilio keys on server-side
# stored in /home/emekaokoro/workspace/marpay/marpay/marpay/
*.env

# stores google keys
# stored in /home/emekaokoro/workspace/marpay/client/src/environments/
environment.ts
environment.prod.ts