<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>  
  <!-- <link href="tailwindcssfolder/output.css" type="text/css" rel="stylesheet" /> -->
    <!-- <link href="{% static '/tailwindcssfolder/output.css' %}" rel="stylesheet"> -->
  <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
  
  
	<meta charset="utf-8">
	<link rel="icon" href="/tailblocks/favicon.png">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="#000000">
	<meta name="description" content="Web site created using create-react-app">
	<link href="{% static '/tailwindcssfolder/output.css' %}" rel="stylesheet">
	<link rel="manifest" href="/tailblocks/manifest.json">
	<title>tailblocks — Ready-to-use Tailwind CSS blocks</title>
	<link href="/tailblocks/static/css/main.e64c1c7e.chunk.css" rel="stylesheet">
   
</head>

<body>

  <main>
    {% block content %}
    {% endblock %}
  </main>  
  
</body>

</html>