<div class="row">
  <div class="col-lg-12">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
    <app-medsession-card
      class="card mb-3"
      [title]="'Current medical sessions'"
      [medsessions]="currentMedsessions"
    ></app-medsession-card>
    <app-medsession-card
      class="card mb-3"
      [title]="'Requested medical sessions'"
      [medsessions]="requestedMedsessions"
    ></app-medsession-card>
    <app-medsession-card
      class="card mb-3"
      [title]="'Recent medical sessions'"
      [medsessions]="completedMedsessions"
    ></app-medsession-card>
  </div>
</div>