<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}


<section class="text-gray-700 body-font overflow-hidden">
  <div class="container px-5 py-8 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">PROFILE</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ user.username }}</h1>
        <div class="flex mb-4">
          <a class="flex-grow text-gray-900 py-2 text-lg px-1">Details</a>
        </div><div class="flex border-t border-gray-300 py-2">
          <span class="text-gray-500">Name</span>
          <span class="ml-auto text-gray-900">{{ user.first_name }} {{ user.last_name }}</span>
        </div>
        <div class="flex border-t border-b mb-6 border-gray-300 py-2">
          <span class="text-gray-500">Email</span>
          <span class="ml-auto text-gray-900">{{ user.email }}</span>
        </div>
        <div class="flex flex-row-reverse justify-center">
          <a class="text-lg text-green-500 hover:text-green-700 text-center lex cursor-pointer" onclick="revealMoreButtons()">More...</a>
          <a class="text-lg text-center lex">&nbsp;&nbsp;|&nbsp;&nbsp;</a>
          <a class="text-lg text-green-500 hover:text-green-700 text-center lex" href="{% url 'myuser_update' %}">Edit Profile</a>
          <a class="text-lg text-center lex">&nbsp;&nbsp;|&nbsp;&nbsp;</a>
          <a class="text-lg text-green-500 hover:text-green-700 text-center lex" href="{% url 'myuser_detail' %}">Medical History</a>  
        </div>
        <div class="flex flex-row-reverse">
			<div id="div_more_buttons" class='hidden'>
			
		      <form method="POST">
			  {% csrf_token %}			
			  <a class="text-sm text-green-500 hover:text-green-700 lex m-2" href="{% url 'myuser_register_thw_confirm' %}">			  
				{% if is_thw %} De-register as THW {% else %} Register as THW {% endif %}
			  </a>
			  </form>
			  
			</div>
        </div>        
      </div>
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://dummyimage.com/400x400">
    </div>
  </div>
</section> 

<script>
	function revealMoreButtons() {
	  var x = document.getElementById("div_more_buttons");
	  if (x.style.display === "block") {
	    x.style.display = "none";
	  } else {
	    x.style.display = "block";
	  }
	}
</script>

{% endif %}
{% endblock %}

