<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

 <section class="text-gray-700 body-font">
  <div class="container px-5 py-8 flex flex-wrap items-center">		  
	<div class="max-w-screen-sm bg-gray-200 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
		 
        <div class="max-w-screen-sm bg-gray-200 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">        
        <div class="border-t border-b mb-6 border-gray-300 py-2 text-sm text-center">   	
				{% if is_physician %} After approval... Successfully registered as a Physician  
				{% else %} Successfully de-registered as a Physician 
				{% endif %}
         </div>
        <div class="border-t border-b mb-6 border-gray-300 py-2 text-center">
          	<a class="text-lg text-green-500 hover:text-green-700 lex m-2" href="{% url 'myuser_detail' %}">Back to Profile</a> 
         </div> 
        </div>
	    
	</div>
  </div>
 </section>

{% endif %}
{% endblock %}

