<section class="text-gray-700 body-font">

    <div class="container px-5 py-8 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">UPDATE PROFILE</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ user.username }}</h1>
  
        <!-- Reactive Form-->
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
          <!-- <div class="hidden">
            <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
          </div>-->
          <div class="form-group mb-6 border-gray-300 py-2">
            <label for="oldPassword" class="text-gray-500">Old Password:</label>
            <input type="password" formControlName="oldPassword" placeholder="old password" name="oldPassword" class="form-control ml-auto text-gray-900" id="oldPassword" [(ngModel)]="userData.oldPassword">
          </div>
          <div class="form-group mb-6 border-gray-300 py-2">
            <label for="newPassword1" class="text-gray-500">New Password:</label>
            <input type="password" formControlName="newPassword1" placeholder="new password" name="newPassword1" class="form-control ml-auto text-gray-900" id="newPassword1" [(ngModel)]="userData.newPassword1">
          </div>
          <div class="form-group mb-6 border-gray-300 py-2">
            <label for="newPassword2" class="text-gray-500">Re-enter New Password:</label>
            <input type="password" formControlName="newPassword2" placeholder="re-enter new password" name="newPassword1" class="form-control ml-auto text-gray-900" id="newPassword2" [(ngModel)]="userData.newPassword2">
          </div>
          <div class="flex justify-center">
              <button class="inline-flex text-white bg-green-500 border-0 py-2 px-12 
                  focus:outline-none hover:bg-green-600 rounded text-lg" type="submit" [disabled]="false">Change</button>
          </div>
        </form>
  
        </div>
      </div>
    </div>
  
  </section>